<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @owner.name %>!</h1>
    <p>
      You've got an new reservation for <%= @restaurant.name %>.<br>
    </p>
    <p>
      To view this reservation, just follow this link: <%= @url %>.
    </p>
    <p>Make the good food!</p>
  </body>
</html>
