<div class="jumbotron center">
  <h1>Welcome to Reservester!</h1>
  <% if owner_signed_in? %>
    <%= link_to 'View Restaurants', restaurants_path %>
  <% else %>
    <p>
      <%= link_to "Log in", new_owner_session_path, class: "btn btn-default btn-large" %>
      <%= link_to "Sign up", new_owner_registration_path, class: "btn btn-primary btn-large" %>
    </p>
  <% end %>
</div>


