<div class="jumbotron center">
  <h1>Welcome to Reservester!</h1>
  <% if owner_signed_in? %>
    View Dashboard
  <% elsif user_signed_in? %>
    <%= link_to "View Reservations", restaurant_reservations_path %>  
  <% else %>
    <p>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-large" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-large" %>
    </p>
  <% end %>

  <div style="padding-top: 50px;">
    <p>
      <%= link_to "View Restaurants", restaurants_path %>
    </p>
  </div>
</div>


